:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #767976;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.app {
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
