.app {
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.header {
  width: 100%;
  height: 100%;
}

/* Header navbar */

.header__navbar {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  height: 90px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(0%);
  transition: background-color ease 0.3s, transform linear 0.1s;
  box-shadow: -2px 2px 45px -20px rgba(0, 0, 0, 0.7);
}

.header__navbar:hover {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgb(207, 206, 206);
}

.header__navbar-left,
.header__navbar-center,
.header__navbar-right {
  flex: 1;
}

.header__navbar-center {
  display: flex;
  justify-content: center;
}

.header__navbar-right {
  display: flex;
  justify-content: flex-end;
}

.header__navbar-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.header__navbar-item {
  display: flex;
  align-items: center;
  margin: 0 14px;
  position: relative;
}

.header__navbar-item::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 0;
  width: 100%;
  height: 35px;
}

.header__navbar-item-link {
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  color: #4a4a4a;
}

.header__navbar-icon {
  font-size: 2rem;
}

.header__navbar-brand-logo {
  max-height: 26px;
}

.header__navbar-item-notice {
  position: absolute;
  z-index: 3;
  font-size: 1.1rem;
  right: -20px;
  width: 18px;
  height: 18px;
  background-color: #b9a16b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__navbar-item-link-underline::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header__navbar-item-link-underline:hover:after {
  width: 100%;
  left: 0;
}

/* Slide container */
.slide-container {
  top: 90px;
}

.header__slider-img {
  height: 800px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 10%;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5%;
}

/* //// */

.header__navbar-left {
  position: relative;
}

.products-nav {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 134px;
}

.header__navbar-item:hover .products-nav {
  display: block;
  top: 30px;
}

.products-nav-list {
  list-style: none;
  padding: 0;
}
.products-nav-item {
  margin: 10px 20px;
  padding: 5px 0;
}

.products-nav-item-link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
}

.products-nav-item-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #555;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.products-nav-item-link:hover::after {
  width: 100%;
  left: 0%;
}

/* Container trending */

.container__trending {
  margin-top: 140px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.app__container-title {
  text-align: center;
  font-size: 3.4rem;
  padding-bottom: 36px;
  font-weight: 400;
  margin: 0;
}

.container__trending-item {
  width: 100%;
  height: 268px;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  transform: translateY(0px);
  transition: all ease 0.3s;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

.container__trending-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.container__trending-img:hover {
  transform: rotateY(180deg);
}

.container__trending-img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}

.container__trending-img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
}

.icon-eye,
.icon-bag {
  position: absolute;
  right: -30px;
  font-size: 2rem;
  color: rgb(155, 153, 153);
  opacity: 0.3;
  transition: ease-in 0.3s;
  padding: 10px;
}

.icon-eye {
}

.icon-bag {
  top: 40px;
}

.icon-eye:hover, .icon-bag:hover {
  color: #000;
}

.container__trending-item:hover .icon-eye {
  transform: translateX(-40px);
  transition: ease-in 0.3s;
  opacity: 1;
}

.container__trending-item:hover .icon-bag {
  transform: translateX(-40px);
  transition: ease-in 0.4s;
  opacity: 1;
}

/* Product */

.product-name {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
}

.product-price {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
}

.currency-unit {
  text-decoration: underline;
}

/* Tin tức */
.container__product-item {
}

.news-content {
  margin: 20px 0;
}

.news-item-img {
  cursor: pointer;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.news-title {
  cursor: pointer;
  line-height: 2.8rem;
}

.news-upload-info {
  display: flex;
}

.news-upload-info {
  font-size: 1.4rem;
}

.news-author {
  color: #bda47d;
  margin-left: 15px;
  position: relative;
}

.news-author::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #000;
  width: 1px;
  height: 16px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.news-upload-date {
  margin-left: 30px;
  margin-right: 15px;
}

.news-text-content {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.load-more-news {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 116px;
  height: 48px;
  background-color: #000;
  font-size: 1.6rem;
  border-radius: 5px;
  text-align: center;
  line-height: 48px;
}

/* Footer */

/* Footer top */
.footer {
  margin-top: 80px;
}

.footer-top {
  text-align: center;
}

.title-email {
  display: inline;
  font-size: 3.4rem;
  position: relative;
}

.title-email::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 3px;
  left: 0%;
  position: absolute;
  background: #555;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

.email-text {
  font-size: 2.2rem;
  margin-top: 50px;
}

.input-email-container {
  margin-top: 50px;
}

.email-input {
  width: 434px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  height: 48px;
}

.btn-subscribe {
  cursor: pointer;
  width: 116px;
  height: 48px;
  outline: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  margin-left: 16px;
  font-size: 1.6rem;
  border: none;
}

/* Footer bottom */

.footer-bottom {
  margin-top: 50px;
  background-color: #000;
}

.brand-info-container {
  padding: 44px;
}

.brand-info {
  display: flex;
}

.brand-info-img {
  width: 200px;
  margin: 0 auto;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-info-text {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
}

.brand-info-icon {
  color: #fff;
  margin-right: 10px;
  font-size: 2rem;
}

.brand-policy {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.social-icon {
  color: #fff;
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
}

.footer-menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 20px 20px;
  position: relative;
}

.footer-menu-link:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid rgb(255, 255, 255);
  width: 1px;
  height: 16px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.designer {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}
