@media (max-width: 1440px) {
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .show-on-mobile-tablet {
    display: block;
  }

  .stores-container {
    margin-top: 60px;
  }

  .title-bacground {
    height: 400px;
    background-position: -400px center;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .show-on-tablet {
    display: block;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .title-bacground {
    height: 350px;
    background-position: -610px center;
  }

  .store-title-text {
    font-size: 2.6rem;
    padding-bottom: 20px;
  }

  .note-title {
    padding: 0 20px;
  }

  .footer {
    margin-top: 40px;
  }
}

@media (min-width: 600px) and (max-width: 738px) {
}

@media (min-width: 370px) and (max-width: 599px) {
}

@media (max-width: 369px) {
  .title-bacground {
    height: 250px;
    background-size: cover;
    background-position: -100px center;
    background-repeat: no-repeat;
  }

  .store-title-text {
    font-size: 2rem;
    padding-bottom: 0;
  }

  .work-time-title {
    font-size: 2rem;
  }

  .srote-item-name,
  .srote-item-address {
    margin: 0;
  }

  .srote-item-cskh {
    margin-top: 0;
  }

  .footer {
    margin-top: 20px;
  }

  .footer-bottom {
    margin-top: 40px;
  }
}
