@media (max-width: 1440px) {
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .title-bacground {
    height: 400px;
    background-position: -400px center;
  }

  .about-container {
    margin-top: 60px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .title-bacground {
    height: 350px;
    background-position: -610px center;
  }
}

@media (min-width: 600px) and (max-width: 738px) {
}

@media (min-width: 370px) and (max-width: 599px) {
}

@media (max-width: 369px) {
  .title-bacground {
    height: 250px;
    background-size: cover;
    background-position: -100px center;
    background-repeat: no-repeat;
  }
}
