@media (max-width: 1440px) {
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .menu__mobile--tablet-body {
    padding: 0 38px 38px 38px;
  }
  .menu__mobile--tablet-header {
    padding: 0 38px;
  }
}

@media (min-width: 600px) and (max-width: 738px) {
}

@media (min-width: 370px) and (max-width: 599px) {
  .menu__mobile--tablet-content {
    font-size: 1.6rem;
  }

  .menu__mobile--tablet-body {
    padding: 0 25px 25px 25px;
  }
  .menu__mobile--tablet-header {
    padding: 0 25px;
  }
  .menu__mobile--tablet-subnav {
    padding: 15px 0;
  }

  .menu__mobile--tablet-subnav-content {
    font-size: 1.6rem;
  }

  .menu__mobile--tablet-subnav-icon {
    font-size: 1.8rem;
  }
}

@media (max-width: 369px) {
  .mobile--tablet__close-icon {
    font-size: 1.4rem;
    border: 5px solid rgb(231, 229, 229, 0.7);
  }

  .menu__mobile--tablet-sreach-icon {
    font-size: 1.6rem;
    margin: 0;
  }

  .menu__mobile--tablet-sreach-input {
    font-size: 1.4rem;
  }

  .menu__mobile--tablet-sreach {
    margin-bottom: 10px;
  }

  .menu__mobile--tablet-content {
    font-size: 1.6rem;
  }

  .menu__mobile--tablet-nav {
    padding: 10px 0;
  }

  .menu__mobile--tablet-body {
    padding: 0 15px 15px 15px;
  }
  .menu__mobile--tablet-header {
    padding: 0 15px;
    height: 40px;
  }
  .menu__mobile--tablet-subnav {
    padding: 15px 0;
  }

  .menu__mobile--tablet-subnav-content {
    font-size: 1.6rem;
  }

  .menu__mobile--tablet-subnav-icon {
    font-size: 1.8rem;
  }
}
