.header {
  width: 100%;
  height: 100%;
}

/* Header navbar */

.header__navbar {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  height: 90px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(0%);
  transition: background-color ease 0.3s, transform linear 0.1s;
  box-shadow: -2px 2px 45px -20px rgba(0, 0, 0, 0.7);
}

.header__navbar:hover {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgb(207, 206, 206);
}

/* .header__navbar-left,
.header__navbar-center,
.header__navbar-right {
  flex: 1;
} */

.header__navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__navbar-right {
  display: flex;
  justify-content: flex-end;
}

.header__navbar-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.header__navbar-item {
  display: flex;
  align-items: center;
  margin: 0 14px;
  position: relative;
}

.header__navbar-item::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 0;
  width: 100%;
  height: 35px;
}

.header__navbar-item-link {
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  color: #4a4a4a;
}

.header__navbar-icon {
  font-size: 2rem;
}

.header__navbar-brand-logo {
  max-height: 26px;
}

.header__navbar-item-notice {
  position: absolute;
  z-index: 3;
  font-size: 1.1rem;
  right: -20px;
  width: 18px;
  height: 18px;
  background-color: #b9a16b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__navbar-item-link-underline::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header__navbar-item-link-underline:hover:after {
  width: 100%;
  left: 0;
}

/* Sub nav menu */

.header__navbar-left {
  position: relative;
}

.products-nav {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 134px;
}

.header__navbar-item:hover .products-nav {
  display: block;
  top: 30px;
}

.products-nav-list {
  list-style: none;
  padding: 0;
}
.products-nav-item {
  margin: 10px 20px;
  padding: 5px 0;
}

.products-nav-item-link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
}

.products-nav-item-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #555;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.products-nav-item-link:hover::after {
  width: 100%;
  left: 0%;
}
