.modal-menu-mobile {
  position: fixed;
  z-index: 4;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  width: 460px;
  max-width: 100%;
  display: none;
  flex-direction: column;
}

.menu__mobile--tablet-header {
  padding: 0 30px;
  height: 70px;
  display: flex;
  align-items: center;
}

.menu__mobile--tablet-header button {
    border: none;
    background-color: transparent;
}

.mobile--tablet__link-close {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.mobile--tablet__close-icon {
  font-size: 1.6rem;
  background-color: rgb(231, 229, 229, 0.7);
  border-radius: 50%;
  border: 10px solid rgb(231, 229, 229, 0.7);
}

.menu__mobile--tablet-body {
  padding: 0 30px 30px 30px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.menu__mobile--tablet-sreach {
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(119, 119, 119);
  margin-bottom: 30px;
}

.menu__mobile--tablet-sreach-icon {
  font-size: 2rem;
  color: rgb(170, 170, 170);
  padding: 0 14px;
}

.menu__mobile--tablet-sreach-input {
  border: none;
  font-size: 1.7rem;
  color: #000;
  outline: none;
}

.menu__mobile--tablet-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0;
}

.menu__mobile--tablet-content {
  text-decoration: none;
  font-size: 2rem;
  color: #888;
}

.menu__mobile--tablet-main-icon {
  font-size: 1.6rem;
}

.menu__mobile--tablet-subnav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-top: 1px solid #ccc;
}

.menu__mobile--tablet-subnav-content {
  text-decoration: none;
  font-size: 2rem;
  color: #888;
}

.menu__mobile--tablet-subnav-icon {
  font-size: 2.4rem;
  padding: 0 10px;
}

.menu__mobile--tablet-subnav-icon-box {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
