.header__menu-nav-bag {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0px;
  bottom: 0;
  max-width: 460px;
  background-color: #fff;
  display: none;
}

.nav__bang-header {
  background-color: #fafafa;
  height: 70px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__bang-header-cart {
  font-size: 1.6rem;
  color: var(--text-color);
}

.nav__bag-header-link {
  cursor: pointer;
  text-decoration: none;
}

.nav__bang-header-icon {
  font-size: 1.7rem;
  color: #333;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
}

.shopping__cart-container {
  padding: 0px 50px 50px 50px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty-cart_item {
  margin: auto;
}

.empty-cart_item-content {
  font-size: 1.4rem;
  color: #999;
}

.nav__bag-list {
  padding: 0;
  list-style: none;
  margin: 0;
  overflow-y: auto;
}

.nav__bag-list-item:first-child {
  padding-top: 0;
}

.nav__bag-list-item {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.nav__bag-list-item-left {
  height: 100px;
  max-width: 100px;
}

.product-in-cart-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.nav__bag-list-item-right {
  flex: 1;
  height: 100px;
  padding-left: 15px;
}

.nav__bag--item-name {
  display: flex;
  justify-content: space-between;
}

.nav__bag-list-item-category p {
    font-size: 1.4rem;
    color: #949494;
    margin: 10px 0;
}

.nav__bag--item-name-link {
  font-size: 1.6rem;
  line-height: 27px;
  text-decoration: none;
  color: #000;
}

.nav__bag--item-name-close {
  font-size: 1.4rem;
  align-items: center;
  border: 5px solid rgba(228, 228, 228, 0);
  background-color: rgba(228, 228, 228, 0);
  border-radius: 50%;
  cursor: pointer;
}

.minus,
.plus {
  font-size: 1.4rem;
  text-decoration: none;
  color: #777;
}

.nav__bag--item-quantity-number {
  outline: none;
  font-size: 1.5rem;
  width: 22px;
  margin: 0 10px;
  border: none;
  text-align: center;
}

.nav__bag--item-quantity-number::-webkit-outer-spin-button,
.nav__bag--item-quantity-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav__bag--item-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.nav__bag--item-price {
  font-size: 1.5rem;
  color: var(--text-color);
}

.nav__bag-cart-panel {
  display: flex;
  flex-direction: column;
}

.nav__bag-cart-panel-total {
  display: flex;
  justify-content: space-between;
}

.nav__bag-total-price,
.nav__bag-total-text {
  font-size: 1.5rem;
  color: #222;
}

.nav__bag-view-cart {
  display: flex;
  text-decoration: none;
  margin-bottom: 12px;
  color: #000;
  border: 2px solid #000;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
  line-height: 45px;
}

.nav__bag-check-out {
  display: flex;
  text-decoration: none;
  border: 2px solid #000;
  color: #fff;
  background-color: #000;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 4500;
  justify-content: center;
  line-height: 45px;
}
